/* src/index.css */
.question-container {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.question-container .question {
  opacity: 1;
  transform: translateY(0);
}

.question-container .question-exit {
  opacity: 0;
  transform: translateY(-20px);
}